html, body {
    margin: 0;
    height: 100%;
    font-family: 'Inter', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

#root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}