.gadgetsContainer {
    display: flex;
    width: 25%;
    align-self: center;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-weight: 600;

    
    > *:not(:last-child) {
        margin-bottom: 1rem;
    }

    > * {
        width: 100%;
    }
}