.slider {
    display: flex;
    align-self: center;
    margin-top: 2rem;
    border: 1px solid black;

    .itemButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border: 1px solid black;

        &:hover {
            cursor: pointer;
            background-color: #a59d9d;
        }
    }
}