@use './variables.scss' as *;

.savedGadget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
        cursor: pointer;
    }

    .gadgetText {
        color: $main-text-color;

        .outfitCount {
            font-size: 0.5em;
            color: $secondery-text-color;
            margin-top: 0.5rem;
        }
    }

    .gadgetIcon {
        color: $secondery-text-color;
    }
}