$main-text-color: #262626;
$secondery-text-color: #7b7676;

$shirt-icon-color: #3B82F6;
$pants-icon-color: #6366F1;
$shoes-icon-color: #F59E0B; 

// TODO - implement borders
$border-color: #ccc;
$border-radius: 12px;