@use './variables.scss' as *;

.wardrobeGadget {
    display: flex;
    justify-content: space-around;
    border: 1px solid $border-color;
    border-radius: $border-radius;

    .itemCountObject {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0 1rem 0;
        font-size: 1.5rem;

        .itemCountDigit {
            font-size: 2em;
        }
    }
}